# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Build files
build/
dist/
out/

# Temporary files
*.tmp
*.temp
*.swp
*.bak

# Logs
*.log

# Environment / secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# C/C++
CMakeFiles/
CMakeCache.txt
cmake-build-*/
compile_commands.json
